{% extends 'base.html.twig' %}
{% block pageActive %} Utilisateur {% endblock %}

{% block title %}Utilisateurs|Gest Prix{% endblock %}

        {% block content %}
        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title">
                    Créer un utilisateur
                </h3>
                <div class="card-toolbar">
                    <div class="example-tools justify-content-center">
                        <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                        <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ include('registration/reg/_form.html.twig') }}
                </div>
        </div>
        {% endblock %}
