{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur | GestPrix{% endblock %}

{% block content %}
 {{ form_start(form) }}
    <div class="card card-custom" id="kt_card_2">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">RECHERCHE</h3>
		</div>
		<div class="card-toolbar">
			<button type="submit" class="btn btn-warning"   title="Modification de l'utilisateur">
			<i class="ki ki-reload icon-nm"></i>Modifier
			</button>
		</div>
	</div>
	<div class="card-body">
       
            {{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="card-footer">
            <button type="submit" class="btn btn-warning"   title="Modification de l'utilisateur">
                <i class="ki ki-reload icon-nm"></i>Modifier
            </button>
            <button type="reset" class="btn btn-secondary">Annuler</button>
            </div>

	</div>
</div>
        {{ form_end(form) }}
   
{% endblock %}
